/*
  Customize US Web Design System SASS
  See all at designsystem.digital.gov/documentation/settings
*/

// Example - Override the background image in the hero component using SASS:
// $theme-hero-image: asset_path("whatever-the-default-is.png");

@import "uswds";

// Example - Override the background image in the hero component using CSS:
//.usa-hero {
//  background-image: asset_url("your-image.png")
//  background-position: 50%;
//  background-size: cover;
//}

/*
  Add your SASS/CSS here
*/

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}


element.style {
}
.article h1 {
    margin-bottom: 0.5em;
}
.article h1, .center-title {
    padding-bottom: 15px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #32c5d2;
    position: relative;
    font-family: Raleway,Open Sans,Roboto,sans-serif;
    font-weight: 600;
}
.article h1 {
    margin-bottom: 0.5em;
}
.article h1, .center-title {
    padding-bottom: 15px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #32c5d2;
    position: relative;
    font-family: Raleway,Open Sans,Roboto,sans-serif;
    font-weight: 600;
}
.h1, h1 {
    font-size: 36px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 600;
    color: #333;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    font-family: Open Sans,Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #333;
    background-color: #f5f5f8;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.article h1:after, .center-title:after {
    content: "";
    width: 80%;
    display: block;
    margin: 12px auto 8px;
    height: 4px;
    background: transparent;
    border-top: 1px solid #32c5d2;
    border-bottom: 1px solid #32c5d2;
}
.article h1:after, .center-title:after {
    content: "";
    width: 80%;
    display: block;
    margin: 12px auto 8px;
    height: 4px;
    background: transparent;
    border-top: 1px solid #32c5d2;
    border-bottom: 1px solid #32c5d2;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

element.style {
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-offset-1 {
    margin-left: 8.33333333%;
}
.col-md-3 {
    width: 25%;
}

@media (min-width: 992px)

  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    font-family: Open Sans,Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #333;
    background-color: #f5f5f8;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
